.boardWrap {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 30px;
  margin-top: 30px;
  text-align: center;
}

  .boardWrap .boardList td{
    font-size: 16px;
  }
  .boardWrap .replyCount{
    font-size: 14px;
    color:tomato;
    margin-left: 20px;
  }
  .bestCount,.readCount, .listCount, .listSubject{
    padding: 20px;
    text-align: center;
  }
  .bestCount2,.readCount2, .listCount2, .listSubject2{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid tomato;
  }
  .listCount2{
    text-align: center;
    width: 100px;
  }
  .listSubject2{
    width: 1200px;
    width: 70%;
  }
  .bestCount2{
    width: 100px;
    text-align: center;
  }
  .readCount2{
    width: 100px;
  }

  .boardCreate{
    margin: 0 auto;
    background-color: tomato;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 50px;
    color: white;
    font-weight: bold;
  }

.hrLine3 {
  border: 0.5px solid gainsboro;
}

tbody {
  margin-top: 10px;
}

.boardWrap >h1 {
  margin-bottom: 80px;
}

.boardWrap >h1 >span {
  margin: 30px;
  font-weight: lighter;
}