.loginContainer {
  width: 100vw;
}

.loginwrap {
  padding-top: 30px;
  width: 480px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.loginline {
  width: 480px;
  border: solid 5px  rgb(234, 234, 234);
  margin-bottom: 50px;
}

.loginbox>form>input {
  width: 458px;
  padding: 20px 14px;
  font-size: 14px;
  border: solid 1px rgb(234, 234, 234);
  margin: 5px 0px;
}

.loginbox>form>button {
  padding: 20px;
  width: 488px;
  background-color: rgb(200, 205, 207);
  font-size: 18px;
  color: white;
  border-radius: 0px;
  margin: 30px 0px 0px 0px;
  height: 60px;
}

.loginbox {
  margin-bottom: 60px;
}

.signup-btn {
  padding: 20px;
  width: 488px;
  background-color: white;
  border: solid 1px black;
  font-size: 18px;
  color: white;
  border-radius: 0px;
  margin: 15px 0px 20px 0px;
  height: 60px;
}

.or-separator {
  text-align: center;
}

.social-login {
  margin-top: 50px;
}