
.modal {
    background-color: white;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    }

/* 모달창 제목 스타일 */
.modal h2 {
margin-top: 0;
text-align: left;
}

/* 쪽지 보내기 폼 스타일 */
.modal #wrap {
    margin: auto 0;
    display: flex;
    flex-direction: column;
}


.modal #wrap input {
border-radius: 5px;
margin-bottom: 20px;
padding: 10px;
border: 1px solid #ccc;
width: 95%;
}

.modal #wrap textarea {
height: 100px;
width: 95%;
margin-bottom: 20px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.modal #wrap button {
position: absolute;
align-self: flex-end;
padding: 5px 10px;
background-color: tomato;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
bottom: 20px;
left: 50px;
}

/* 모달창 닫기 버튼 스타일 */
.modal .close-btn {
position: absolute;
bottom: 20px;
right: 50px;
padding: 5px 10px;
background-color: #ccc;
border: none;
border-radius: 5px;
cursor: pointer;
}

.findName-wrap {
    background-color: rgb(235, 235, 235);
    padding: 10px 20px;
    position: absolute;
    top: 148px;
    width: 458px;
    border-radius: 5px;
}

.findName-wrap > div {
    margin: 5px;
    font-size: 14px;
    color: gray;
}

/* 모달창이 나타날 때의 스타일 */
.modal.show {
display: block;
animation: modal-show 0.3s ease;
}

/* 모달창이 사라질 때의 스타일 */
.modal.hide {
animation: modal-hide 0.3s ease;
}

/* 모달창이 나타날 때의 애니메이션 */
@keyframes modal-show {
from {
    opacity: 0;
    }
to {
    opacity: 1;
    }
}

/* 모달창이 사라질 때의 애니메이션 */
@keyframes modal-hide {
from {
    opacity: 1;
    }
to {
    opacity: 0;
    }
}