.search-container{
    margin: 30px auto;
    width: 1140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.searchlist-top{
    display: flex;
    width:90%;
    margin:0 auto;
    padding-top:3%;
    justify-content: space-between;
}
.sort-box{
    display: flex; 
    justify-content: right;
}

#sortBy{ 
    width:100px;
    height: 30px;
    border-radius: 5px;
    padding: 3px 5px;
}

.searchitem-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 1100px;
    justify-content: space-between;

}

.search-item{
    width: 520px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding:7px;
    border-radius: 5px;
    border: 0.5px solid gainsboro;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    cursor: pointer;
    margin-bottom: 30px;
}

.search-item-left img {
    width: 150px;
    height: 150px;
    margin:10px;
    border-radius: 5px;
}

.search-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.search-item-info div {
    width: 280px;
    height: 23px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: -0.9px;
    text-align: left;
    color: #343a40;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-item-info div.price {
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.54px;
    text-align: left;
    color: #E8344E;
}

.search-item-info span.unit {
    width: 17px;
    height: 18px;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.9px;
    text-align: center;
    color: #000000;
}

.search-item-info button{
    margin-left: 50px ;
    cursor: pointer;
}

<<<<<<< HEAD

.findMorebtn {
    display: block;
    width: 100%;
    margin:0 auto;
    margin-top: 20px;
    height: 80px;
    font-size: 30px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-radius: 30px;
  }
  
.price {
    position: relative;
}

.priceinfo-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    align-items: center;
    font-weight: bold;
    margin: auto;
    width: 430px;
}

.price-search-wrap {
    width: 1140px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: white;
}

.price-item-rank {
    margin-left: 30px;
    margin-right: 30px;
}

.price-item-item {
    margin-left: 30px;
}
=======
>>>>>>> 9d067f8212151a43aee43e65baf9c94f4ab721e5
